<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>APT Demo System</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/APTDemo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/APTDemo.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->

  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <nav class="navbar navbar-dark bg-inverse">
      <div class="container">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">

    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Demo Console <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/instructions">Instructions</a>
      </li>
    </ul>
  </div>
        </div>
</nav>
    <div class="container" role="main">
    <!--<div style="align-content: center"><div class="jumbotron jumbotron-primary">
        <div class="row">

            <h1 style="margin-top:20px; text-align:center">APT Demo System <img style='float:right;width:150px;height:100px; margin-left:10px; margin-top:1px;' src="{{ url_for('static', filename='imgs/isl-trans.png') }}" /></h1>

    </div>

      </div>-->


        <div class="row">

            <div class="container">
            {% block content %}
            {% endblock %}
                <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">

      <div class="card-text text-xs-center">

          <br/><br/>
          <p style="font-size:9px">&#169; 2016, Ironsides Technology LLC.</p>
      </div>

    </div>
  </div>
            </div>

        </div>

    </div>
  <script>

  </script>
</body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
