{% extends 'base.html' %}

{% block content %}
    <div class="card">
            <div class="card-header card-primary-header" style="color: #f2f2f2">
              <h3>Demo Control Console<img style='float:right;margin-left:10px;width:82px;height:57px;' src="{{ url_for('static', filename='imgs/isl-trans-resized.png') }}" /></h3>
            </div>
            <div class="card-primary-body card-block text-xs-center">
<div class="card-deck-wrapper">
    <div class="card-deck">
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <h4 class="card-title">Demo</h4>
      <div class="card-text"><button type="button" id="message"></button></div>

    </div>
  </div>
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <h4 class="card-title">Trackdevice </h4>
      <div class="card-text"><button type="button" id="td"></button></div>

    </div>
  </div>
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <h4 class="card-title"># Jobs</h4>
      <div class="card-text"><button type="button" id="jobs"></button></div>

    </div>
  </div>
        </div></div>


              <div id="demo_status" style="text-align: center; color: #0f0f0f"><br/> </div><br/>
                <div class="btn-group" role="group" aria-label="Demo Controls">
                    <button type="button" class="btn btn-success" id="start" data-toggle="tooltip" title="Start the Demo"><i class="fa fa-play"></i> Start</button>
                    <button type="button" class="btn btn-warning" id="pause" data-toggle="tooltip" title="Pause the Demo"><i class="fa fa-pause"></i> Pause</button>
                    <button type="button" class="btn btn-danger" id="stop" data-toggle="tooltip" title="Stop the Demo"><i class="fa fa-stop"></i> Stop</button>
                </div>
            </div></div>

{% endblock %}
