{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">APT Demo Console</h3>
            </div>
            <div class="panel-body text-center">
                <hr>
                    <h3>Demo System Status : {% if control == 0 %}<span class="label label-danger">Not Running</span>{% endif %}<span id="message"></span></h3>
                <hr>
              <div id="demo_status" style="text-align: center; color: #0f0f0f"><br/> </div><br/>
                <div class="center-block">
                    <button type="button" class="btn btn-primary" id="start"><span class="glyphicon glyphicon-play"></span> Start Demo</button>
                    <button type="button" class="btn btn-warning" id="pause"><span class="glyphicon glyphicon-pause"></span> Pause Demo</button>
                    <button type="button" class="btn btn-danger" id="stop"><span class="glyphicon glyphicon-stop"></span> Stop Demo</button>
                </div>
            </div></div>

{% endblock %}
