{% extends 'base.html' %}

{% block content %}
    <div class="card">
            <div class="card-header card-primary-header" style="color: #f2f2f2">
              <h3 style="border-top: 5px;">Instructions<img style='float:right;margin-left:10px;width:82px;height:57px;' src="{{ url_for('static', filename='imgs/isl-trans-resized.png') }}" /></h3>
            </div>
            <div class="card-primary-body card-block">

                <h2>General Information:</h2><br/>
                <p style="color:#ffffff">Within the installation directory for this application is a folder called demo_setup_files. This folder contains the following sub folders:</p>
                <ul>
                    <li style="color:#ffffff">APTImports: This folder contains the user/device files to use for server import and setup.</li>
                    <li style="color:#ffffff">APTScripts: This folder contains the Python scripts APT Server requires to pass job details to this application. (Auto-Installed)</li>
                    <li style="color:#ffffff">CleanDB: This folder contains a MSSQL 2014 clean Database, pre-configured with all users/devices/alerts/icd setups in use for this demo.</li>
                </ul>
                <br/>
                <p style="color:#ffffff">Configuration files for this demo are located in the config_files directory of the installation directory. You will need to close the application and re-open to reload configurations. All local paths for APT are held here.</p>
                <p style="color:#ffffff">The installer for this demo system comes equipped with a Clean DB for your use, APT_AutoDemo-MSSQL14. The server will also require you to import the users and devices export files also included in the demo_setup_files folder of the installation directory if not using the starter DB.</p>
                <p style="color:#ffffff">There are also a series of Alert scripts which must be configured, ICD settings, and Server Configurations. Images for these setups are found below.</p>
                <div><h2>Alerts:</h2><br/><img style="display: block;width: 75% !important;height: auto !important;" src="{{url_for('static', filename='imgs/alert_setup.png')}}"/><br/><br/>
                <h2>ICD Settings:</h2><br/>
                    <h4>Status Code Mapping:</h4><br/><img style="display: block;width: 75% !important;height: auto !important;" src="{{url_for('static', filename='imgs/StatusCode-Mapping.png')}}"/><br/><br/>
                    <h4>Sheet Config:</h4><br/><img style="display: block;width: 75% !important;height: auto !important;" src="{{url_for('static', filename='imgs/icd_sheet_settings.png')}}"/><br/><br/>
                <h4>Piece Config:</h4><br/><img style="display: block;width: 75% !important;height: auto !important;" src="{{url_for('static', filename='imgs/icd_piece_settings.png')}}"/><br/><br/>
                <h4>System Config:</h4><br/><img style="display: block;width: 75% !important;height: auto !important;" src="{{url_for('static', filename='imgs/system_config.png')}}"/></div>
            </div>
    </div>

{% endblock %}
